<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Say About Your Project</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style/index.css">
</head>
<body>
    <div class="nav">
      <a href="/signup">Регистрация</a>
      <a href="/login">Вход</a>
    </div>
  <div class="container">
    <div class="header">
      <h1>Say About Your Project</h1>
      <p>Создай красивую страницу для своего проекта — покажи идею, медиа и скинь друзьям. Просто, быстро, удобно.</p>
    </div>

    <div class="section">
      <h2>🧠 Идея</h2>
      <p>Это не GitHub. Это — витрина твоей задумки. Один проект — одна страничка. Хочешь MVP, хочешь просто показать — всё под рукой.</p>
    </div>

    <div class="section">
      <h2>📷 Медиа</h2>
      <p>Загружай скриншоты, гифки, видео. Преврати свою страницу в настоящий мини-лендинг без кода и шаблонов.</p>
    </div>

    <div class="section">
      <h2>🔗 Поделись</h2>
      <p>Просто скинь ссылку друзьям, коллегам или работодателю. Без логинов, без регистрации (если не хочешь).</p>
    </div>

  </div>
</body>
</html>